*{
	padding:0;
	margin:0;
}

html {-webkit-text-size-adjust:150%;}

body{
	background-color: #f4f4f4;
	color: #333;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	padding:0 10px;
}

a{
	color: #1B76BA;
	text-decoration: none;
}

a:hover{
	color: #15629B;
}

hr{
	border-top: 1px solid #ccc;
	border-bottom:none;
	border-right: none;
	border-left: none;
}

#loading{
	text-align: center;
}

#wrapper{
	width:100%;
}

#header{
	margin-bottom: 10px;

}


#header h1 a{
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	-webkit-text-size-adjust:80%;
	font-weight: bold;
	text-transform: uppercase;
	width: 320px;
}

#header h2{
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:25px;
	font-weight: bold;
	margin-bottom:10px;
	text-transform: uppercase;
	color: #777;
	display:none;
}

#header h2 abbr{
	border-bottom: 1px dotted #777;
	cursor: help;
}

#main{
	width: 320px;
	margin-right: 40px;
	float:left;
}

#sidebar{
	width: 300px;
	padding:9px;
	background-color: #dfdfdf;
/*	border: 1px solid #ddd;*/
	float:left;
	font-size: 16px;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	color: #444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display:none;
}

#sidebar h2{
	margin-bottom: 3px;
}

#sidebar p{
	line-height: 140%;
}

.post{
	clear:both;
	margin-bottom:10px;
	padding-bottom:5px;
	display: block;
	color: #444;
	min-height: 86px;
	border-bottom: 1px solid #ccc;
}

.postbody{
	font-size: 18px;
	line-height:140%;
}

.postmeta{
	font-size: 12px;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -5px;
}

.avatar{
	width: 48px;
	height: 48px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-left: 10px;
	float:right;
}

/* Sidebar */

#sidebar_infobox{
	margin-bottom: 15px;

}

#sidebar_toplist_widget{
	margin-top: 15px;
	margin-bottom:15px;
}

#sidebar_toplist_widget ol{
	margin-left: 20px;
	line-height: 150%;
	margin-bottom: 5px;
}

#sidebar_toplist_widget ol li span{
	float: right;
}

#sidebar_toplist_widget ol img{
	width: 16px;
	height: 16px;
}

#sidebar_senaste_lankar{
	margin-top: 15px;
}

#sidebar_senaste_lankar ul{
	line-height: 150%;
	margin-left: 20px;
	margin-bottom: 5px;
}

#footer{
	color: #444;
	clear:both;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding:15px 0;
	display:none;
}

.at{
	font-size: 80%;
	font-family: Arial, "MS Trebuchet", sans-serif;
}