*{
	padding:0;
	margin:0;
}

body{
	font-size: 16px;
	background-color: #f9f9f9;
	color: #333;
	font-family: "Times New Roman", Times, Georgia, serif;
}

a{
	color: #1B76BA;
	text-decoration: none;
}

a:hover{
	color: #15629B;
}

abbr{
	border-bottom: 1px dotted #777;
	cursor: help;
}

hr{
	border-top: 1px solid #ccc;
	border-bottom:none;
	border-right: none;
	border-left: none;
}

#loading{

}

#wrapper{
	padding-top:20px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	margin-bottom: 20px;
}


#header h1 a{
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #222;
}

#header h2{
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:25px;
	font-weight: bold;
	margin-bottom:10px;
	text-transform: uppercase;
	color: #777;
}

#main{
	width: 600px;
	margin-right: 40px;
	float:left;
}

#nojavascript{
	width:640px;
}

#sidebar{
	width: 300px;
	padding:9px;
	background-color: #dfdfdf;
	border: 1px solid #ddd;
	float:left;
	font-size: 16px;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	color: #444;
}

#sidebar h2{
	margin-bottom: 3px;
}

#sidebar p{
	line-height: 140%;
}

.post{
	clear:both;
	margin-bottom:10px;
	margin-bottom:5px;
	width: 600px;
	display: block;
	color: #444;
	min-height: 86px;
	border-bottom: 1px solid #ddd;
}

.post:hover{

}

.postbody{
	font-size: 18px;
	line-height:140%;
}

.postmeta{
	font-size: 12px;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -5px;
}

.avatar{
	width: 73px;
	height: 73px;
	padding: 3px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-right: 10px;
	float:left;
}

/* Sidebar */

#sidebar_infobox{
	margin-bottom: 15px;
}

#tweetit{
	width: 299px;
	text-align: center;
	display: block;
	padding: 5px 0;
	background-color: #f9f9f9;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#delicious{
	width: 300px;
	text-align: center;
	display: block;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#sidebar_infobox p{
	line-height: 150%;
}

#sidebar_toplist_widget{
	margin-top: 15px;
	margin-bottom:15px;
	width: 285px;
}

#sidebar_toplist_widget ol{
	margin-left: 20px;
	line-height: 180%;
	margin-bottom: 5px;
}

#sidebar_toplist_widget ol li{
	clear:left;
}


#sidebar_toplist_widget ol li span{
	float: right;
}

#sidebar_toplist_widget ol img{
	width: 16px;
	height: 16px;
}

#sidebar_senaste_lankar{
	margin-top: 15px;
}

#sidebar_senaste_lankar ul{
	line-height: 150%;
	margin-left: 20px;
	margin-bottom: 5px;
}

#sidebar_omnamnanden ul{
	line-height: 150%;
	margin-left: 20px;
	margin-bottom: 5px;
}

#pusha_knapp {
  float: right;
  margin: 0 0 10px 10px;
}

#footer{
	color: #444;
	clear:both;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding:15px 0;
}

.at{
	font-size: 80%;
	font-family: Arial, "MS Trebuchet", sans-serif;
}